{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="program card text-center">

        <div class="card-header">
            <h1 class="mt-0"> <a class="zoomLink" href="{{ path('program_season_show', {'slug': program.slug, 'number': season.number}) }}">Episode {{ episode.number }} </a>  / Saison {{ season.number }}  de {{ program.title }}</h1>
            <p>{{ episode.title }}</p>
            <p>{{ episode.synopsis }}</p>

            {% if app.user %}
                <h3>Ajouter un commentaire</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn">Ajouter un commentaire</button>
                {{ form_end(form) }}
            {% else %}
                <p>Vous devez être connecté pour ajouter un commentaire.</p>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_CONTRIBUTOR") and app.user == program.owner) %}
                <div class="card-footer text-muted">
                    <a href="{{ path('program_edit', { slug: episode.slug }) }}" class="btn btn-primary">Edit Episode</a>
                </div>
            {% endif %}

            {% if episode.comments|length > 0 %}
                <h3>Commentaires :</h3>
                <ul>
                    {% set commentsSorted = commentRepository.findBy({'episode': episode}, {'createdAt': 'ASC'}) %}
                    {% for comment in commentsSorted %}
                        <li>
                            <p>{{ comment.author.email  }} / note {{ comment.rate}}/5</p>
                            <p> fait le : {{ comment.createdAt|date('d/m/Y') }}</p>
                            <p>commentaire : {{ comment.comment }}</p>
                            {% if app.user and (app.user == comment.author or is_granted('ROLE_ADMIN')) %}
                                <form method="post" action="{{ path('program_delete', {'id': comment.id}) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete_comment') }}" />
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer le commentaire</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun commentaire pour le moment.</p>
            {% endif %}
        </div>

        <a href="{{ path('program_season_show', {'slug': program.slug, 'number': season.number}) }}">
            Retour à la page de la série
        </a>
    </div>
{% endblock %}