{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>
    <h2>
        <a href="{{ path('program_new') }}">
            Ajoutez une série
        </a>
    </h2>
    {% for program in program %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
            {#<ul>
                #}{#{% for actor in actor.programs %}
                    <li><a href="{{ path('actor_index', {id}) }}">{{ actor.name }}</a></li>
                {% endfor %}#}{#
            </ul>#}
            <p>{{ program.synopsis }}</p>
            <img src="{{ asset('assets/images/{{ program.poster }}') }}" alt="{{ program.poster }}">
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}