{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!{% endblock %}

{% block body %}
    <h1>Tous les acteurs : </h1>
    {% for actor in actors %}
        <div>
            <img class="image_acteur" alt="image {{ actor.name }}" src="{{ vich_uploader_asset(actor) }}">
            <h2>{{ loop.index }} / <a href="{{ path("actor_show", { slug: actor.slug }) }}">{{ actor.name }}</a> a joué dans :</h2>
            <ul>
                {% for program in actor.programs %}
                    <li><a href="{{ path('program_show', { slug: program.slug}) }}">{{ program.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
